p, h1, h2, h3, h4, h5, h6, ul, li {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: #444;
}

p {
  font-size: .5rem;
  line-height: normal;
}

h5 {
  margin-bottom: -0.5em;
}

.page {
  display: grid;
  background-color: #fcfcfc;
  width: 900px;
  height: 1150px;
  margin: auto;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
}

.sidebar {
  background: rgb(112,172,255);
  background: linear-gradient(174deg, rgba(112,172,255,0.8281687675070029) 0%, rgba(116,248,255,0.8253676470588236) 100%);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 7;
}

.profile-photo {
  object-fit: contain;
  align-items: center;
  margin: auto;
}

.img {
  width: 100%;
  border: 1em solid #fafafa;
  border-radius: 50%;
  margin-left: -56%;
  filter: grayscale(1) brightness(1.4);
}

.img:hover {
  filter: none;
}

.name-card {
  padding-top: 6em;
  padding-right: 2em;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: -3em;
  line-height: 24px;
}

.underline {
  border-bottom: 1px dotted;
}

.feature-text {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
}

.contact {
  grid-row-start: 2;
  grid-row-end: 3;
  box-shadow: 0px 20px 24px -24px;
}

.hobbies {
  grid-row-start: 3;
  grid-row-end: 4;
  box-shadow: 0px 20px 24px -24px;
}

.education {
  grid-row-start: 4;
  grid-row-end: 5;
}

.bio {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  padding: 1em;
}

ul {
  list-style: none;
  padding-left: .5em;
}

.skills {
  margin-top: -4em;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 1em;
  padding-right: 2em;
}

.skills-container {
  margin-top: -2em;
  padding-left: 1em;
}

.skills1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.skills2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.skills3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}



/* 00bb f3f */
