p, h1, h2, h3, h4, h5, h6, ul, li {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: #444;
}

p {
  font-size: .5rem;
  line-height: normal;
}

h5 {
  margin-bottom: -0.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  display: grid;
  background-color: #fcfcfc;
  width: 900px;
  height: 1100px;
  margin: auto;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
}

.sidebar {
  background: rgb(112,172,255);
  background: linear-gradient(174deg, rgba(112,172,255,0.8281687675070029) 0%, rgba(116,248,255,0.8253676470588236) 100%);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 7;
}

.profile-photo {
  object-fit: contain;
  align-items: center;
  margin: auto;
}

.img {
  width: 100%;
  border: 1em solid #fafafa;
  border-radius: 50%;
  margin-left: -56%;
  filter: grayscale(1) brightness(1.4);
}

.img:hover {
  filter: none;
}

.name-card {
  padding-top: 6em;
  padding-right: 2em;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: -3em;
  line-height: 24px;
}

.underline {
  border-bottom: 1px dotted;
}

.feature-text {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
}

.contact {
  grid-row-start: 2;
  grid-row-end: 3;
  box-shadow: 0px 20px 24px -24px;
}

.education {
  grid-row-start: 3;
  grid-row-end: 4;
  box-shadow: 0px 20px 24px -24px;
}

.hobbies {
  grid-row-start: 4;
  grid-row-end: 5;
}

.bio {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: -1;
  padding-left: 1em;
  padding-right: 2em;
}

ul {
  list-style: none;
  padding-left: .5em;
}

.skills {
  margin-top: -4em;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 1em;
  padding-right: 2em;
}

.skills-container {
  margin-top: -2em;
  padding-left: 1em;
}

.skills1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.skills2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.skills3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.projects {
  margin-top: -2em;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-left: 1em;
  padding-right: 2em;
}

.tweeter {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 1rem -3rem 1rem 4.5rem;
  background-color: #00bb;
  border-radius: 15%;
  text-align: center;
  font-style: italic;
  font-size: 4em;
  color: white;
  box-shadow: -10px 10px 28px -7px rgba(0,0,0,0.65);
}

.icon {
  margin-top: 0.5em;
}

.white-font {
  color: #fcfcfc;
}

.heavy {
  font-weight: 800;
}

.chatty {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 1rem 5rem 1rem -3rem;
  background-color: #f3f;
  border-radius: 15%;
  text-align: center;
  font-size: 4em;
  font-style: italic;
  color: white;
  box-shadow: 10px 10px 28px -7px rgba(0,0,0,0.65);
}

.tiny {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 2rem 1rem 0rem 1rem;
  background-color: #FF2626;
  border-radius: 15%;
  text-align: center;
  font-size: 4em;
  font-style: italic;
  color: white;
  box-shadow: 0px 5px 41px -2px rgba(0,0,0,0.65);
}

/* 00bb f3f */
