.page {
  display: grid;
  background-color: #fcfcfc;
  width: 900px;
  height: 1150px;
  margin: auto;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
}

.sidebar {
  background: rgb(112,172,255);
  background: linear-gradient(174deg, rgba(112,172,255,0.8281687675070029) 0%, rgba(116,248,255,0.8253676470588236) 100%);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 7;
}

.profile-photo {
  object-fit: contain;
  align-items: center;
  margin: auto;
}

.img {
  width: 100%;
  border: 1em solid #fafafa;
  border-radius: 50%;
  margin-left: -56%;
  filter: grayscale(1) brightness(1.4);
}

.img:hover {
  filter: none;
}

.name-card {
  padding-top: 8em;
  padding-right: 2em;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: -3em;
  line-height: 24px;
  color: #333;
}

.underline {
  border-bottom: 1px dotted;
}

.feature-text {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: #333;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  box-shadow: 0px 20px 24px -24px;
}

.contact {
  grid-row-start: 2;
  grid-row-end: 3;
}

.hobbies {
  grid-row-start: 3;
  grid-row-end: 4;
}

.education {
  grid-row-start: 4;
  grid-row-end: 5;
}

/* 00bb f3f */
